In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset = pd.read_csv('tips.csv')

In [3]:
dataset.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [14]:
min_r = dataset['total_bill'].min()

In [15]:
max_r = dataset['total_bill'].max()

In [17]:
min_r,max_r

(np.float64(3.07), np.float64(50.81))

In [16]:
range = max_r - min_r

In [13]:
range

np.float64(47.74)